html                {padding: 0; margin: 0; font-family: sans-serif; font-size: 16px}
body                {padding: 0; margin: 0;}
header              {padding: 2px 16px; margin: 0; background-color: #06c; color: #fff}
footer              {padding: 8px 16px; margin: 0; text-align: center; font-size: 0.8em; border-top: 1px solid #ccc}
table               {border-collapse: collapse}
td                  {padding: 4px 8px}
input               {padding: 4px 8px; font: inherit; border: 1px solid #ccc}
textarea            {padding: 4px 8px; font: inherit; border: 1px solid #ccc; height: 100px}
button              {padding: 8px 16px; font: inherit; background-color: #06c; color: #fff; border: 0; cursor: pointer}
button:hover        {background-color: #ccc; color: #000}
.btn-small          {padding: 6px 8px; font-size: 0.8em}
.content            {padding: 2px 16px; min-height: 600px;}
.record-table th    {padding: 4px 8px; border-bottom: 2px solid #ccc; text-align: left}
.record-table td    {padding: 4px 8px; border-bottom: 1px solid #ccc}
.width-default      {width: 300px}
.width-small        {width: 100px}
.width-smaller      {width: 50px}
.no-border          {border: 0px !important}
